<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Hdwih_Entities" connectionString="data source=LENOVO-ALEX-PC\SQLEXPRESS;initial catalog=Hdwih_Resume_Test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="Hdwih_Data_Entities" connectionString="data source=LENOVO-ALEX-PC\SQLEXPRESS;initial catalog=Hdwih_Resume_Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>