<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Hdwih_Model" connectionString="metadata=res://*/HdwihModel.csdl|res://*/HdwihModel.ssdl|res://*/HdwihModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-ALEX-PC\SQLEXPRESS;initial catalog=Hdwih_Resume_Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>